.userCard{
display: flex;
align-items: center;
justify-content: center;
border: 2px solid rgba(83, 83, 83, 0.747);
border-radius: 30px;
background-color: #778899;
position: relative;
}

.userProfile{
    width: 400px;
    border: none;
    background-color: #C0C0C0;
    border-radius: 10px;
    width: 300px;
height: 300px;
   
}

.photo{
background-color: #C0C0C0;
padding: 40px;
margin: 40px;
border-radius: 50%;
width: 300px;
height: 300px;
}

.userName {
 font-weight: bold;
 font-size: 40px;
 font-family: Ubuntu;
 color: black;
     
}

.userData {
 font-size: 30px;
 font-family: Ubuntu;
 color: black;
 opacity: 0.5; 

}


.userStats{
color: black;
font-size: 30px;
font-family: Ubuntu;

}

.userStatsList{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgba(255, 255, 255, 0.747);
    background-color: #C0C0C0;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 50px;

}